.text-allign{
  text-align: center;
}
.bg-color{
  background: black;
}
.mx-auto{
  margin:auto;
}

.flex{
  display: flex;
}

.flex-col{
  flex-direction: column;
}
.items-centre{
  align-items: center;
}